<launch>
   <node name="arduino" pkg="dashgo_bringup" type="dashgo_driver.py" output="screen">
      <rosparam file="$(find dashgo_bringup)/config/my_dashgo_params.yaml" command="load" />
   </node>
   <!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_laser_broadcaster" args="0 0 0 0 0 0 /base_link /laser 100" /> -->
</launch>
